@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/FormularLight.woff") format("woff"),
        url("../fonts/Formular/FormularLight.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/FormularRegular.woff") format("woff"),
        url("../fonts/Formular/FormularRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/FormularMedium.woff") format("woff"),
        url("../fonts/Formular/FormularMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/FormularBold.woff") format("woff"),
        url("../fonts/Formular/FormularBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/FormularBlack.woff") format("woff"),
        url("../fonts/Formular/FormularBlack.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
}