section.home-section.home-section--banner
    .container.container--banner
        .banner__wrapper 
            img.banner__img(src="./img/section-banner-img.png", alt="")
            .banner__inner 
                h2.title-section.title-section--banner Экскурсии в Туле
                p.banner__text Покажем лучшие места города!
                button.btn.btn--banner Вперед!