- 
    var cards = [
        {
            img: "./img/events-img2.png",
            title: "Интерактивная выставка «История деревянных игр»",
        },
        {
            img: "./img/events-img3.png",
            title: "Уроки по сольному джазу",
        },
        {
            img: "./img/events-img4.png",
            title: "Выставка «Семейное  Дело» в Музейном квартале",
        },
        {
            img: "./img/events-img5.png",
            title: "Экскурсия «По страницамистории: Тула XVI–XX в.»",
        },
        {
            img: "./img/events-img3.png",
            title: "Уроки по сольному джазу",
        },
        {
            img: "./img/events-img4.png",
            title: "Выставка «Семейное  Дело» в Музейном квартале",
        },
                {
            img: "./img/events-img4.png",
            title: "Выставка «Семейное  Дело» в Музейном квартале",
        },
        {
            img: "./img/events-img5.png",
            title: "Экскурсия «По страницамистории: Тула XVI–XX в.»",
        },
        {
            img: "./img/events-img3.png",
            title: "Уроки по сольному джазу",
        },
        {
            img: "./img/events-img4.png",
            title: "Выставка «Семейное  Дело» в Музейном квартале",
        },
    ]

section.home-section.home-section--events
    .container
        .title__wrapper.title__wrapper--events 
            h2.title-section.title-section--events Ближайшие события
            a.events__title-link(href="#") Посмотреть все события
    .events-bg__wrapper
        .container
            .events-swiper.swiper
                .events__wrapper.swiper-wrapper 
                    each item in cards
                        a.swiper-slide(href="#") 
                            .card.card--events
                                .card__pic.card__pic--events
                                    img.card__pic-img.card__pic-img--events(src=`${item.img}`)
                                .card__content.card__content--events 
                                    p.card__content-text.card__content-text--events=item.title
                                    .card__content-info-item.card__content-info-item--events 
                                        p.card__content-info-item-text.card__content-info-item-text--events 12 - 20 апреля 12:00                                     