- 
    var cards = [
        {
            img: "./img/exc-img1.png",
            title: "Куркино заповедное",
        },
        {
            img: "./img/exc-img2.png",
            title: "Открываем Тулу заново!",
        },
        {
            img: "./img/exc-img3.png",
            title: "В гости В.Д. Поленову",
        },
        {
            img: "./img/exc-img4.png",
            title: "По местам боевой славы Подмосковья и соседних областей",
        },
        {
            img: "./img/exc-img2.png",
            title: "В гости В.Д. Поленову",
        },
                {
            img: "./img/exc-img2.png",
            title: "В гости В.Д. Поленову",
        },
                {
            img: "./img/exc-img2.png",
            title: "В гости В.Д. Поленову",
        },
                {
            img: "./img/exc-img2.png",
            title: "В гости В.Д. Поленову",
        },
    ]



section.home-section.home-section--excursions
    .container 
        h2.title-section Нам по пути
        .btns__wrapper.btns__wrapper--excursions
            .btns__inner
                button.btn.btn--excursions Все
                button.btn.btn--excursions Маршруты
                button.btn.btn--excursions Экскурсии
            .btns__inner-mobile
                button.btn.btn--excursions Все
            .route__wrapper
                a(href="#") 
                    .route
                        img.route__img(src="./img/route-icon.png", alt="")
                        p.route__text Составьте свой маршрут
                .swiper-btns 
                    button.btn-prev-exc.btn-prev--mod
                        img.btn-prev-icon(src="./img/prev-icon.svg", alt="")
                    button.btn-next-exc.btn-next--mod
                        img.btn-next-icon(src="./img/next-icon.svg", alt="")
    .excursions-swiper.swiper
        .excursions__wrapper.swiper-wrapper 
            each item in cards
                a.swiper-slide(href="#") 
                    .card.card--excursions
                        .card__pic.card__pic--excursions
                            img.card__pic-img.card__pic-img--excursions(src=`${item.img}`, alt="")
                        .card__content.card__content--excursions
                            p.card__content-text.card__content-text--excursions=item.title
                            .card__content-info-inner.card__content-info-inner--excursions
                                .card__content-info-item.card__content-info-item--excursions 
                                    img(src="./img/people-icon.png", alt="")
                                    p Без ограничений
                                .card__content-info-item.card__content-info-item--excursions  
                                    img(src="./img/watch-icon.png", alt="")
                                    p 6 часов
                                    