

section.home-section.page-section--page-banner 
  .page-banner__bg 
    img.page-banner__bg-img(src="./img/banner-img.jpg", alt="")
  .container 
    .page-banner__wrapper 
      img.page-banner__img(src="./img/pause-img.png", alt="")
      h1.title Хотите узнать Россию - начните с Тулы!