doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Тула
    link(rel="stylesheet", href="./main.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
  body
    include ../page-block/header.pug
    main.main 
      include ../page-block/page-banner.pug
      include ../page-block/news.pug
      include ../page-block/quest.pug
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="./js/swiper.js")


      


    
   



          










    
        

          

















