.header {
    position: fixed;
    // position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    transition: background-color .5s ease;
    
}

.header:hover  {
    background-color: white;
    
}



.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.logo {
    
}

.logo__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu {
   
}

.menu--header{
    min-width: 69.18239%; /* 1100px/1590 */
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.menu__list {
    
}

.menu__item {}

.menu__link--header {
    color: $black;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu__link--header:hover {
    color: red;
    font-size: 20px;
    
}

.header__actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.search-btn {}

.langs-btn {
    
}

.login {
    padding: 10px 18px;
    background-color: #6667AB;
    border-radius: 25px;
    color: $white;
}

@media ( max-width:1500px) {
    .menu__link--header {
        font-size: 13px;
    }
}


@media ( max-width:1100px) {
    .menu--header {
        display: none;
    }

    .header__actions{
        display: none;
    }
}

@media ( max-width:768px) {
    .logo{
        max-width: 113px;
        max-height: 52px;
    }
}