
.news__wrapper {
  
}


.card--news {
    
}

.card__pic--news {
    width: 100%;
    height: 290px;

}

.card__pic-img--news{
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.card__content--news {
    
    
}

.btns__wrapper {
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card__content-text--news{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    max-width: 210px;
}