.page-section--page-banner {}

.page-banner__bg {
    position: relative;
}

.page-banner__bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0 0 30px 30px;
}

.page-banner__wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.page-banner__img {
    width: 104px;
    height: 104px;
    object-fit: cover;
}

.title {
    max-width: 850px;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.12;
    color: $white;
}