.home-section--quest {
    
}


.quest__bg {
    
}

.quest__bg-img {

    width: 100%;
    height: auto;
    object-fit: cover;
}



.quest__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card__pic-img--quest {
    border-radius: 20px;
}